// Bootstrap
@import "vendor/bootstrap/scss/bootstrap.scss";

body {
	font-family: muli, sans-serif;
}

.btn-group {
	width: 100%;
}

.btn-primary {
	border-width: 2px;
	border-radius: 5px!important;

	&:hover {
		background-color: $blue;
		color: white;
		text-decoration: none;
	}
}

@media all and (min-width: 768px) {
	.btn-group {
		width: 75%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.btn-primary {
		width: 30%!important;
	}
}

@media all and (min-width: 992px) {
	.fa-exclamation {
		background-color: $orange;
		padding: .8em 1em;
		color: white;
		border-radius: 5px;
	}

	.btn-group {
		width: 45%;
	}
}